@media (max-width: 768px) {
  .ssc-form-form_div form {
    padding: 5px;
  }

  .ssc-form-title_div h4 {
    font-size: 1.4rem;
  }

  .ssc-form-title_div h3 {
    font-size: 2.8rem;
  }

  .ssc-form-title_div p {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .formulario {
    height: 100rem;
  }

  .ssc-form-wrapper_div {
    height: 120.2rem;
    justify-content: initial;
  }

  .ssc-form-form_div form {
    height: 85.2rem;
    gap: 0;
  }
}
