@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  --primary-color: #1e1d1d;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}
